<div class="book-wrap">
<% @book.each do |book| %>
  <div class="book-comment">
    <span class="book-body"><%= book.body %></span>
    <span class="book-title"><%=link_to book.title, book_path(book.id) %></span>
  </div>
<% end %>
</div>
<div class="book-form">
  <%= form_for @new_book do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit "投稿" %>
    </div>
  <% end %>
</div>